#about {
  display: grid;
  grid-template-columns: 30% 70%;
  overflow: hidden;

}

.image-div {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.image-div img {
  width: 100%;
  position: absolute;
  top: -20%;
  left: -10%;

}

.about-me-info {}


.slide-about-image-right {
  animation: slide-about-image-right 2.5s cubic-bezier(0.190, 1.000, 0.220, 1.000) forwards;
}

@keyframes slide-about-image-right {
  0% {
    transform: translateX(-120vw);
  }

  100% {
    transform: translateX(0);
  }
}

.slide-about-image-left {
  animation: slide-about-image-left 0s forwards;
}

@keyframes slide-about-image-left {
  0% {
    transform: translateX(-120%);
  }

  100% {
    transform: translateX(0);
  }
}

.slide-about-title-right {
  animation: slide-about-title-right 2.5s cubic-bezier(0.190, 1.000, 0.220, 1.000) forwards;
}

@keyframes slide-about-title-right {
  0% {
    transform: translateX(120vw);
  }

  100% {
    transform: translateX(0);
  }
}

.slide-about-title-left {
  animation: slide-about-title-left 0s forwards;
}

@keyframes slide-about-title-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-120vw);
  }
}

.slide-about-info-right {
  animation: slide-about-info-left 2s cubic-bezier(0.190, 1.000, 0.220, 1.000) forwards;
}

@keyframes slide-about-info-right {
  0% {
    transform: translateX(-120vw);
  }

  100% {
    transform: translateX(0);
  }
}

.slide-about-info-left {
  animation: slide-about-info-right 0s forwards;
}

@keyframes slide-about-info-left {
  0% {
    transform: translateX(-120%);
  }

  100% {
    transform: translateX(0);
  }
}