.card-container {
  text-align: center;
  overflow: hidden;
  border-radius: 5px;
  transform: translateX(120vw);
}

.card-container img {
  max-width: 70px;
  width: 50%;
}

.card-container p {
  padding: 10px;
}

.card-container:hover {
  background-color: rgba(0, 0, 0, 0.8);
  animation: grow 1.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
  z-index: 5;
}

@keyframes grow {
  0% {
    width: 100%;
    height: 110px;
    transform: scale(1);
  }

  25% {
    width: 300px;
    height: 110px;
    transform: scale(1.2);
  }

  100% {
    width: 300px;
    height: 300px;
    transform: scale(1.2);
  }
}

.far-right-card {
  text-align: center;
  overflow: hidden;
  border-radius: 5px;
  transform: translateX(120vw);
}

.far-right-card img {
  max-width: 70px;
  width: 50%;
}

.far-right-card p {
  padding: 10px;
}

.far-right-card:hover {
  background-color: rgba(0, 0, 0, 0.8);
  animation:
    move-left-and-grow 1.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
  z-index: 5;
}

.reset-move-animation {
  animation: none;
  transform: translateX(120vw);
}

@keyframes move-left-and-grow {
  0% {
    width: 100%;
    height: 110px;
    transform: translateX(0);
  }

  25% {
    width: 300px;
    height: 110px;
    transform: translateX(-50%) scale(1.2);
  }

  100% {
    width: 300px;
    height: 300px;
    transform: translateX(-50%) scale(1.2);
  }
}

@keyframes reset-move-animation {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-120vw);
  }

}