.contact-container {
  display: grid;
  grid-template-columns: 20vw 60vw;
  gap: 10vw;
  margin-top: 20px;
  margin-bottom: 20px;
}

form {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 20px;
  font-family: inherit;
  font-size: inherit;
}

.name-email-container {
  display: flex;
  justify-content: space-between;
}

.name-email-container input {
  width: 48%;
  font-family: inherit;
  font-size: inherit;
}

.contact-container textarea,
.contact-container input { 
  resize: none;
  font-family: inherit;
  font-size: inherit;
}