.hero-images-bar-container {
  position: relative;
  display: flex;
  margin: 0 auto;
}

.hero-images-container {
  width: 50vw;
  display: flex;
  overflow: hidden;
}

.hero-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
  flex-shrink: 0;
  flex-grow: 0;
  transition: translate 500ms ease-in-out;
}

.hero-image-button {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 60px;
  height: 60px;
  top: 45%;
  padding: 10px 0;
  border: none;
  border-radius: 10px;
  background: transparent;
  cursor: pointer;
}

.hero-image-button img {
  width: 100%;
  height: 100%;
}

.hero-image-button:hover {
  background-color: rgba(167, 167, 167, 0.6);
}

.hero-image-radio-container {
  position: absolute;
  bottom: .5rem;
  left: 50%;
  translate: -50%;
  display: flex;
  gap: 0.5rem;
  padding: 5px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.2s ease-out;
}

.hero-image-radio-container:hover {
  transform: scale(1.2);
  background-color: black;
}

.hero-image-radio-button {
  align-items: center;
  background-color: white;
  accent-color: rgb(67, 0, 98);
  height: 15px;
  transition: all 0.2s ease-in-out;
}

.hero-image-radio-button:hover,
.hero-image-radio-button:checked {
  outline: none;
  transform: scale(1.25);
  cursor: pointer;
}

.fullscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);
  z-index: 10;
}

.fullscreen-overlay button {
  top: 0;
  right: 0;
  transform: scale(1.1);
}

.fullscreen-container {
  display: flex;
  margin: 0 auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  z-index: 15;
}

.fullscreen-image {
  display: flex;
  overflow: hidden;
  width: 78vw;
}

.fullscreen-button {
  background-color: black;
}

.fullscreen-radio {
  bottom: -2.5%;
  background-color: black;
}

.fullscreen-radio:hover {
  bottom: 1%;
}