.hero-images-bar-container {
  position: relative;
  display: flex;
  margin: 0 auto;
}

.hero-images-container {
  width: 50vw;
  display: flex;
  overflow: hidden;
}

.hero-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
  flex-shrink: 0;
  flex-grow: 0;
  transition: translate 500ms ease-in-out;
}

.hero-image-button {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 60px;
  height: 60px;
  top: 45%;
  padding: 10px 0;
  border: none;
  border-radius: 10px;
  background: transparent;
  /* overflow: hidden; */
  cursor: pointer;
}

.hero-image-button img {
  width: 100%;
  height: 100%;
}

.hero-image-button:hover {
  background-color: rgba(167, 167, 167, 0.6);
}

.hero-image-radio-container {
  position: absolute;
  bottom: .5rem;
  left: 50%;
  translate: -50%;
  display: flex;
  gap: .25rem;
}

.hero-image-radio-button {
  align-items: center;
  background-color: white;
  accent-color: rgb(67, 0, 98);
  height: 15px;
  transition: all 0.2s ease-in-out;
}

.hero-image-radio-button:hover,
.hero-image-radio-button:checked {
  outline: none;
  transform: scale(1.25);
  cursor: pointer;
}

.fullscreen-container {
  position: fixed;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
}

.fullscreen-image {
  width: 78vw;
}

.fullscreen-button {
  background-color: black;
}

.fullscreen-radio {
  bottom: -4%;
  background-color: black;
  padding: 5px;
  border-radius: 10px;
}

.fullscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.3);
  z-index: 15;
}

.fullscreen-overlay button {
  position: absolute;
  top: 0;
  right: 0;
  transform: scale(1.2);
}