#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: rgb(0, 0, 0);
  gap: 50px;
  border-top: 1px solid red;
}

#footer a {
  transition: 0.2s ease-out;
}

#footer a:hover {
  transform: scale(1.1);
}


.github-container {
  margin-top: -5px;
  width: 50px;
  height: 50px;
}

.linked-in-container {
  height: 50px;
  overflow: hidden;
}

.linked-in-container img {
  margin-top: -25px;
}

.cv-link-contianer {
  height: 40px;
  display: flex;
  align-items: center;
}

.cv-link-button {
  width: fit-content;
  height: fit-content;
  margin-right: -5px;
}

.cv-link-icon {
  width: 50px;
  height: 40px;
}

.cv-link-icon img {
  margin-top: -5px;
}