#headline {
  padding-top: 6rem;
  overflow-x: hidden;
  z-index: 0;
}

#headline p {
  max-width: 50%;
}

@media screen and (max-width: 1000px) {
  #headline {
    padding-top: 3rem;
  }

  #headline p {
    max-width: 100%;
  }
}