#portfolio h2,
#skills h2,
#documents h2,
#contact h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
  border-top: 1px solid red;
  width: 100vw;
  height: 100px;
  margin-left: -40px;
  margin-bottom: 50px;
  font-family: inherit;
}