#portfolio h2,
#skills h2,
#contact h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
  border-top: 1px solid red;
  width: 100vw;
  height: 100px;
  margin-left: -4%;
  margin-bottom: 50px;
}

@media screen and (max-width: 650px) {
  #nav {
    grid-template-columns: 1fr;
  }

  #nav div,
  #nav h2 {
    display: grid;
    grid-template-columns: 1fr;
    justify-self: center;
  }

  #headline {
    padding-top: 18rem;
  }

  #headline p {
    max-width: 100%;
  }

  .contact-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}