#portfolio h2,
#skills h2,
#contact h2 {
  text-align: center;
}

@media screen and (max-width: 650px) {
  #nav {
    grid-template-columns: 1fr;
  }

  #nav div,
  #nav h2 {
    display: grid;
    grid-template-columns: 1fr;
    justify-self: center;
  }

  #headline {
    padding-top: 18rem;
  }

  #headline p {
    max-width: 100%;
  }

  .contact-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}