#nav {
  position: fixed;
  background-color: black;
  border-bottom: 1px solid red;
  width: 100vw;
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: end;
  align-items: end;
  padding: 10px 20px;
  z-index: 10;
  font-family: inherit;
}

#nav h2 {
  font-family: inherit;
}

.pcOnly {
  position: absolute;
  top: 50%;
  left: 210px;
  font-size: 16px;
}

#nav div {
  justify-self: end;
}

#nav button {
  transition: 0.5s ease-in-out;
}

.button-scrolled {
  color: rgb(145, 47, 63);
  border-color: rgb(145, 47, 63);
}

.menu-button {
  width: 50px;
  height: 40px;
  position: relative;
  overflow: hidden;
  margin-right: 10px;
}

.menu-button img {
  position: absolute;
  top: -5px;
  left: 0;
  width: 50px;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 20;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-self: end;
  background-color: black;
  border-bottom: 1px solid red;
}

.menu button {
  width: 150px;
}

@media screen and (max-width: 1000px) {
  #nav {
    align-items: end;
    height: 50px;
    padding: 5px 10px;
  }

  #nav div,
  #nav h2 {
    padding: 0;
    margin: 0;
  }

  #nav h2 {
    font-size: 18px;
  }

  .language-button {
    vertical-align: bottom;
    font-size: 16px;
    padding: 0;
  }

  .contact-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}