.apps {}

.titleIcon {
  display: flex;
  margin: 0 auto;
  width: 200px;
}

.app-card-container {
  display: flex;
  margin-top: 1%;
  margin-bottom: 5%;
}

.reverse {
  flex-direction: row-reverse;
}

.app-card-container p {}

.app-card-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: flex-end; */
}

.made-with-icon {
  width: 50px;
  padding: 5px;
}

.app-buttons-container {
  display: flex;
  justify-content: space-between;
}

.app-separator-div {
  margin-right: 1vw;
}

.align-left {
  align-items: flex-start;
}

.deploy-button {
  font-size: 26px;
  width: 10rem;
  padding: 10px;
  /* background-color: rgb(0, 0, 0); */
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 1%, rgb(255, 0, 0) 33%, rgb(8, 0, 255) 60%, rgba(0, 0, 0, 1) 100%);
  background-size: 400% 1%;
  animation: action 10s infinite linear forwards;
  /* background-attachment: local; */
}

@keyframes action {
  0% {
    background-position: 0% 0%;
    /* box-shadow: 5px 5px 20px rgb(93, 52, 168),-5px -5px 20px rgb(93, 52, 168); */
  }
  25% {
    background-position: 100% 0%;

  }

  50% {
    background-position: 200% 0%;
    /* box-shadow: 5px 5px 20px rgb(81, 224, 210),-5px -5px 20px rgb(81, 224, 210); */
  }

  75% {
    background-position: 300% 0%;
    /* box-shadow: 5px 5px 20px rgb(81, 224, 210),-5px -5px 20px rgb(81, 224, 210); */
  }

  100% {
    background-position: 400% 0%;
    /* box-shadow: 5px 5px 20px rgb(93, 52, 168),-5px -5px 20px rgb(93, 52, 168); */
  }
}

.deploy-button:hover {
  /* color: rgb(255, 0, 0); */
  /* background-color: rgb(69, 0, 0); */
}

.blur-appear-app-title {
  animation: blur-appear-app-title 2s cubic-bezier(0.190, 1.000, 0.220, 1.000) forwards;
}

@keyframes blur-appear-app-title {
  0% {
    transform: scale(2);
    filter: blur(4px);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    filter: blur(0px);
    opacity: 1;
  }
}

.slide-app-info-middle {
  animation: slide-app-info-middle 2s cubic-bezier(0.190, 1.000, 0.220, 1.000) forwards;
}

@keyframes slide-app-info-middle {
  0% {
    transform: translateX(120vw);
  }

  100% {
    transform: translateX(0);
  }
}

.slide-app-info-out {
  animation: slide-app-info-out 0s forwards;
}

@keyframes slide-app-info-out {
  0% {
    transform: translateX(-120%);
  }

  100% {
    transform: translateX(0);
  }
}

.slide-app-images-left {
  animation: slide-app-images-left 2s cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

@keyframes slide-app-images-left {
  0% {
    transform: translateX(-120vw);
  }

  100% {
    transform: translateX(0);
  }
}

.slide-app-images-right {
  animation: slide-app-images-right 0s forwards;
}

@keyframes slide-app-images-right {
  0% {
    transform: translateX(-120%);
  }

  100% {
    transform: translateX(0);
  }
}