.apps {
}

.titleIcon {
  display: flex;
  margin: 0 auto;
  width: 200px;
}

.app-card-container {
  display: flex;
  margin-top: 1%;
  margin-bottom: 5%;
}

.reverse {
  flex-direction: row-reverse;
}

.app-card-container p {
}

.app-card-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}



.align-left {
  align-items: flex-start;

}

.deploy-button {
  font-size: 26px;
  width: fit-content;
  padding: 10px;
  background-color: rgb(0, 0, 0);
}

.deploy-button:hover {
  /* color: rgb(255, 0, 0); */
  /* background-color: rgb(69, 0, 0); */
}